/* Секция наши достоинства

/* Секция чем мы занимаемся */
/* Класс для стилизации заголовков 2 уровня */
.advantage {
  padding-bottom: 60px;
  @media screen and (min-width: 1200px) {
    padding-bottom: 0;
  }
}

.advantage__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.advantage__item {
  margin: 0 0 30px 0;
  @media screen and (min-width: 768px) {
    margin: 0 30px 30px 0;
  }
  @media screen and (min-width: 1200px) {
    & {
      margin: 0 30px 0 0;
    }
    &:last-child {
      margin-right: 0;
    }
  }
}

/* Иконки наши достоинства */
.dignity {
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 450px;
  height: 120px;
  margin-bottom: 30px;
  border-radius: 4px;
  background-color: #f5f4fa;
  @media screen and (min-width: 768px) {
    width: 354px;
  }
  @media screen and (min-width: 1200px) {
    width: 270px;
  }
}

.dignity__icon {
  width: 70px;
  height: 70px;
}

/* Заголовки */
.dignity__title {
  padding-bottom: 10px;
  font-weight: 700;
  text-align: center;
  font-size: 0.875rem;
  line-height: 1.14rem;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: $color-text;
  @media screen and (min-width: 768px) {
    text-align: left;
  }
}

.dignity__text {
  max-width: 450px;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  @media screen and (min-width: 768px) {
    width: 354px;
  }
  @media screen and (min-width: 1200px) {
    width: 270px;
  }
}
