/* Тело страницы студия */

.bonnet {
  background-image: linear-gradient(
      to right,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url("../images/bonnet/people-mobile.jpg");
  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    & {
      background-image: linear-gradient(
          to right,
          rgba(47, 48, 58, 0.4),
          rgba(47, 48, 58, 0.4)
        ),
        url("../images/bonnet/people-mobile@2x.jpg");
    }
  }
  @media screen and (min-width: 768px) {
    background-image: linear-gradient(
        to right,
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url("../images/bonnet/people-tablet.jpg");
    @media (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      & {
        background-image: linear-gradient(
            to right,
            rgba(47, 48, 58, 0.4),
            rgba(47, 48, 58, 0.4)
          ),
          url("../images/bonnet/people-tablet@2x.jpg");
      }
    }
  }
  @media screen and (min-width: 1200px) {
    background-image: linear-gradient(
        to right,
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url("../images/bonnet/people-desktop.jpg");
    @media (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      & {
        background-image: linear-gradient(
            to right,
            rgba(47, 48, 58, 0.4),
            rgba(47, 48, 58, 0.4)
          ),
          url("../images/bonnet/people-desktop@2x.jpg");
      }
    }
  }
  background-color: rgba(47, 48, 58, 0.4);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.bonnet-section {
  background-color: #2f303a;
  padding-top: 120px;
  padding-bottom: 120px;
  text-align: center;
  @media screen and (min-width: 1200px) {
    padding-top: 200px;
    padding-bottom: 200px;
  }
}

/* Заголовок секции */
.bonnet__title {
  margin-bottom: 30px;
  font-weight: 900;
  font-size: 26px;
  line-height: 2.625rem;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: $color-default;
  @media screen and(min-width:768px) {
    font-size: 1.625rem;
  }
  @media screen and(min-width:1200px) {
    font-size: 2.75rem;
    line-height: 3.75rem;
  }
}

/* Кнопка заказа */
.bonnet__order {
  padding: 10px 32px;
  font-weight: 700;
  font-size: 1rem;
  line-height: 1.9;
  letter-spacing: 0.06em;
  color: $color-default;
  background: $color-additional;
  border-radius: 4px;
  outline: none;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  transition-property: background;
  transition-duration: 250ms;
  cursor: pointer;
}

.bonnet__order:focus {
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  background: #188ce8;
}
