/* Секция наши клиенты */
.clients {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    @media screen and (min-width: 480px) {
    }
    @media screen and (min-width: 768px) {
    }
    @media screen and (min-width: 1200px) {
    flex-wrap: nowrap;
    }
}

.clients__list{
    display: flex;
    flex-wrap: wrap;
    @media screen and (min-width: 480px) {
        }
    @media screen and (min-width: 780px) {
            width: 226px;
            height: 92px;
        }
    @media screen and (min-width: 1200px) {
            width: 170px;
            height: 92px;
        }        
}

.clients__list+.clients__list {
    @media screen and (min-width: 1200px){
margin-left: 30px;
    }
}

.clients__link {

    width: 210px;
    height: 92px;
    border: 1px solid #AFB1B8;
    box-sizing: border-box;
    border-radius: 4px;
    border-color: #AFB1B8;
    cursor: pointer;
    padding: 12px 30px;
    color: #afb1b8;
    transition-duration: 250ms;
    transition-property: color, border-color;
    &:hover,
    &:focus{
transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
color: $color-additional;
border-color: $color-additional;
    }
}
.clients__list-icon {
    fill: currentColor;
    width: 106px;
    height: 60px;
}