.menu-button {
  display: inline-flex;
  margin: 0;
  padding: 0;
  border: none;
  z-index: 40;
  color: $color-additional;
  background-color: transparent;
  @media screen and (min-width: 768px) {
    display: none;
  }
}
.menu-button__icon-exit {
  width: 24px;
  height: 16px;
}
.menu-button__icon-burger {
  width: 19px;
  height: 19px;
}

.icon-menu {
  padding: 20px;
}
.icon-cross {
  padding: 20px;
}
.menu-button__icon-exit:focus .icon-menu,
.menu-button__icon-exit:hover .icon-menu {
  fill: currentColor;
}
.menu-button__icon-burger:focus .icon-cross,
.menu-button__icon-burger:hover .icon-cross {
  fill: currentColor;
}
.menu-button .icon-cross {
  display: none;
}
.menu-button.is-open .icon-cross {
  display: block;
}
.menu-button.is-open .icon-menu {
  display: none;
}
