/* Контейнер */
.container {
    max-width: 1200px;
    padding-left: 225px;
    padding-right: 225px;
    margin-left: auto;
    margin-right: auto;
    background-color: aquamarine;
}

.section {
    padding-top: 94px;
    padding-bottom: 94px;
}