/* Оформление футера */
.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #2f303a;
}
.footer__section {
  @media screen and (min-width: 768px) {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }
}
.footer__logo,
.footer__logo:focus {
  font-family: $font-raleway;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: $color-default;
  text-decoration: none;

  @media screen and (max-width: 1200px) {
    display: flex;
    justify-content: center;
  }
}
.footer__logo-blue {
  color: $color-additional;
}

.footer-list {
  margin: 20px 0 60px 0;

  @media screen and (min-width: 1200px) {
    margin: 20px 0 0 0;
  }
}
.footer-list__item {
  text-align: center;
  padding-bottom: 9px;

  @media screen and (min-width: 1200px) {
    text-align: left;
  }
}
.footer-list__item:last-child {
  padding-bottom: 0;
}
.location-address,
.location-address:focus {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: $color-default;
  text-decoration: none;
}
.footer-list__connection,
.footer-list__connection:focus {
  font-style: normal;
  text-decoration: none;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.footer-list__connection:last-child {
  margin-bottom: 0;
}
/* Заголовок соц сетей в футере */
.title-join {
  margin-bottom: 20px;
  font-family: $font-roboto;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  color: $color-default;
  text-align: center;

  @media screen and (min-width: 1200px) {
    text-align: left;
  }
}
/* Список социальных сетей */
.footer-social {
  text-align: center;

  @media screen and(min-width:768px) {
    text-align: left;
    margin: 0 0 0 70px;
  }
}
.footer-social__media {
  display: flex;
  justify-content: center;
  margin: 0 0 60px 0;

  @media screen and(min-width:768px) {
    margin: 0 0 0 0;
  }
}
.footer-social__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  cursor: pointer;
  transition-property: background-color;
  transition-duration: 250ms;
}
.footer-social__list + .footer-social__list {
  margin-left: 10px;
}
.footer-social__list > .footer-social__link:hover,
.footer-social__list > .footer-social__link:focus {
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  background-color: $color-additional;
}
.footer-social__icon {
  fill: $color-default;
  width: 20px;
  height: 20px;
}
/* Футер (подписаться) */
.footer__subscribe {
  text-align: center;

  @media screen and(min-width:768px) {
    text-align: left;
    margin-left: 93px;
  }
}
.footer-form {
  @media screen and (min-width: 1200px) {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }
}
.footer-form__input {
  width: 358px;
  height: 50px;
  padding: 1rem 1rem;
  background: #2f303a;
  outline: none;
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-sizing: border-box;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  color: $color-default;
  margin: 0 0 20px 0;
  @media screen and (min-width: 480px) {
    width: 450px;
    margin: 0 0 0 0;
  }
  @media screen and (min-width: 1200px) {
    width: 358px;
    margin: 0 0 0 0;
  }
}
.footer-form__button {
  text-align: center;
  display: flex;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  cursor: pointer;

  @media screen and (min-width: 1200px) {
    margin-left: 0.75rem;
    margin-right: 0;
  }
}

.footer-form__icon-airplane {
  width: 24px;
  height: 24px;
  margin-left: 10px;
  fill: currentColor;
}
