// заголовки
.headline {
  font-weight: 700;
  font-size: 28px;
  line-height: 33px;
  margin-bottom: 30px;
  text-align: center;
  letter-spacing: 0.03em;
  color: $color-text;
  @media screen and (min-width: 1200px) {
    font-size: 36px;
    line-height: 42px;
    margin-bottom: 50px;
  }
}
/* HEADER */
/* Logotype */
.header {
  position: relative;
  border-bottom: 1px solid #ececec;
}

.header__section {
  margin: 15px 88px 15px 0;
  justify-content: space-between;
  display: flex;
  @media screen and (min-width: 768px) {
    margin: 0 0 0 0;
    align-items: center;
  }
}

.header-logo,
.header-logo:focus {
  margin: 0 88px 0 0;
  font-family: $font-raleway;
  font-weight: 700;
  font-size: 1.5rem;
  line-height: 28px;
  color: #000000;
  text-decoration: none;
  @media screen and (min-width: 1200px) {
    margin: 0 93px 0 0;
    font-size: 1.625rem;
    line-height: 31px;
  }
}

.header-logo__blue {
  color: $color-additional;
}
.header-menu__mobile-flex {
  display: flex;
  justify-content: space-around;
  align-items: center;
  overflow-y: hidden;

  width: 100%;
  @media screen and (max-width: 767px) {
    display: flex;
    flex-wrap: wrap;
    align-content: space-between;
    justify-content: flex-start;
    height: 90vh;
  }
}
.header__menu-container {
  display: flex;
  @media screen and (max-width: 767px) {
    position: fixed;
    display: none;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: #ffffff;
    padding: 48px 40px;
    z-index: 30;

    &.is-open {
      display: block;
    }
  }
  @media screen and (min-width: 768px) {
    display: flex;
    align-items: center;
    width: 100%;
    z-index: 20;
  }
}
/* Стилизация навигации хедер */
.header-nav {
  @media screen and (min-width: 768px) {
    margin-bottom: 30px;
    margin-top: 30px;
  }
}
.header-nav__list {
  margin-bottom: -31px;
  @media screen and (min-width: 768px) {
    display: flex;
  }
}

.header-nav__link {
  position: relative;
  font-weight: 500;
  padding: 10px 30px 10px 30px;
  font-size: 36px;
  line-height: 42px;
  letter-spacing: 0.02em;
  text-decoration: none;
  color: $color-text;
  transition-property: color;
  transition-duration: 250ms;
  @media screen and (min-width: 480px) {
    padding: 15px 30px 15px 30px;
    font-size: 40px;
    line-height: 47px;
  }
  @media screen and (min-width: 768px) {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.3;
    letter-spacing: 0.02em;
    padding: 30px 0 30px 0;
  }
}

.header-nav__link:hover,
.header-nav__link:focus {
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  color: $color-additional;
}

.header-nav__item {
  margin-bottom: 32px;
  @media screen and (min-width: 768px) {
    margin-right: 50px;
  }
}

.header-nav__item:last-child {
  margin-right: 0;
}

/* Подсветка кнопки страницы на которой ты находишься */
.header-nav__aktiv {
  @media screen and (min-width: 768px) {
    color: $color-additional;
  }
}

.header-nav__aktiv::after {
  @media screen and (min-width: 768px) {
    position: absolute;
    content: "";
    bottom: -2px;
    left: 0;
    width: 100%;
    height: 4px;
    background: $color-additional;
    border-radius: 2px;
  }
}

/* Стилизация ссылок связи */

.connection {
  @media screen and (min-width: 768px) {
    margin-left: auto;
    display: flex;
    margin-top: 0;
  }
}
.connection-list__mail-menu {
  padding: 20px 20px;
  font-family: $font-roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 20px;
  letter-spacing: 0.02em;
  color: $color-text-secondary;
  @media screen and (min-width: 480px) {
    font-size: 24px;
    line-height: 28px;
    padding: 0 0;
  }
}
.connection-list__phone-menu {
  font-size: 22px;
  line-height: 12px;
  padding: 20px 20px;
  font-family: $font-roboto;
  letter-spacing: 0.02em;
  color: $color-additional;
  @media screen and (min-width: 480px) {
    padding: 0 0;
    font-size: 34px;
    line-height: 40px;
  }
}
.connection-list {
  @media screen and (max-width: 767px) {
    display: flex;
    flex-direction: column-reverse;
    align-content: space-around;
  }
  @media screen and (min-width: 1200px) {
    display: flex;
  }
}

.connection-list__link {
  display: flex;
  align-items: center;
  text-decoration: none;
  transition-property: color;
  transition-duration: 250ms;
  padding: 20px 10px;
  @media screen and (min-width: 768px) {
    text-decoration: none;
    color: $color-text-secondary;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    padding: 5px 10px;
  }
  @media screen and (min-width: 1200px) {
    padding: 20px 0;
  }
}
.connection-list__link:hover,
.connection-list__link:focus {
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  color: $color-additional;
}

/* Декоративные картинки телефона и мэил */
.connection-list__icon-mail {
  display: none;
  fill: currentColor;
  margin-right: 10px;
  width: 16px;
  height: 12px;
  @media screen and (min-width: 768px) {
    display: block;
  }
}

.connection-list__icon-phone {
  display: none;
  fill: currentColor;
  margin-right: 10px;
  width: 10px;
  height: 16px;
  @media screen and (min-width: 768px) {
    display: block;
  }
}

.connection-list__item {
  @media screen and (min-width: 100px) {
    margin-bottom: 32px;
    &:first-child {
      margin-bottom: 0;
    }
  }
  @media screen and (min-width: 768px) {
    margin-bottom: 10px;
    &:last-child {
      margin-bottom: 0;
    }
  }
  @media screen and (min-width: 1200px) {
    margin-right: 30px;
    margin-bottom: 0;
    &:last-child {
      margin-right: 0;
    }
  }
}
// Соц сети мобильное меню
.header-menu__social {
  margin-left: auto;
  margin-top: 64px;
  @media screen and (min-width: 768px) {
    display: none;
  }
}
.header-menu__social-list {
  display: flex;
  flex-wrap: wrap;
}
.header-menu__social-item {
  margin-bottom: 10px;
  padding: 0 10px;
  border-right: 1px solid rgba(33, 33, 33, 0.2);
  &:last-child {
    margin-bottom: 0;
    border-right: none;
  }
}
.header-menu__social-link {
  font-family: $font-roboto;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 0.02em;
  color: $color-additional;
  text-decoration: none;
}
