// заголовки
.headline {
  font-weight: 700;
  font-size: 2.25rem;
  line-height: 1.16;
  margin-bottom: 50px;
  text-align: center;
  letter-spacing: 0.03em;
  color: $color-text;
}
/* HEADER */
/* Logotype */
.header {
  position: relative;
  border-bottom: 1px solid #ececec;
}

.header__section {
  margin: 15px 88px 15px 0;
  justify-content: space-between;
  display: flex;
  @media screen and (min-width: 768px) {
    margin: 0 0 0 0;
    align-items: center;
  }
}

.header-logo,
.header-logo:focus {
  margin: 0 88px 0 0;
  font-family: $font-raleway;
  font-weight: 700;
  font-size: 1.5rem;
  line-height: 28px;
  color: #000000;
  text-decoration: none;
  @media screen and (min-width: 1200px) {
    margin: 0 93px 0 0;
    font-size: 1.625rem;
    line-height: 31px;
  }
}

.header-logo__blue {
  color: $color-additional;
}
.header__menu-container {
  display: flex;
  align-items: center;
  width: 100%;
  @media screen and (max-width: 768px) {
    position: absolute;
    display: none;
    top: 100%;
    left: 0;
    width: 100%;
    height: 700px;
    background-color: aqua;
    &.is-open {
      display: block;
    }
  }
}
/* Стилизация навигации хедер */
.header-nav {
  margin-bottom: 30px;
  margin-top: 30px;
}

.header-nav__list {
  @media screen and (min-width: 768px) {
    display: flex;
  }
}

.header-nav__link {
  position: relative;
  padding-top: 30px;
  padding-bottom: 30px;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.3;
  letter-spacing: 0.02em;
  text-decoration: none;
  color: $color-text;
  transition-property: color;
  transition-duration: 250ms;
}

.header-nav__link:hover,
.header-nav__link:focus {
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  color: $color-additional;
}

.header-nav__item {
  margin-right: 50px;
}

.header-nav__item:last-child {
  margin-right: 0;
}

/* Подсветка кнопки страницы на которой ты находишься */
.header-nav__aktiv {
  color: $color-additional;
}

.header-nav__aktiv::after {
  position: absolute;
  content: "";
  bottom: -2px;
  left: 0;
  width: 100%;
  height: 4px;
  background: $color-additional;
  border-radius: 2px;
}

/* Стилизация ссылок связи */

.connection {
  margin-left: auto;
  @media screen and (min-width: 768px) {
    display: flex;
  }
}

.connection-list {
  @media screen and (min-width: 1200px) {
    display: flex;
  }
}

.connection-list__link {
  @media screen and (min-width: 1200px) {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  padding-top: 20px;
  padding-bottom: 20px;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
  color: $color-text-secondary;
  transition-property: color;
  transition-duration: 250ms;
}

.connection-list__link:hover,
.connection-list__link:focus {
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  color: $color-additional;
}

/* Декоративные картинки телефона и мэил */
.connection-list__icon-mail {
  fill: currentColor;
  margin-right: 10px;
  width: 16px;
  height: 12px;
}

.connection-list__icon-phone {
  fill: currentColor;
  margin-right: 10px;
  width: 10px;
  height: 16px;
}

.connection-list__item {
  margin-bottom: 10px;
  &:last-child {
    margin-bottom: 0;
  }
  @media screen and (min-width: 1200px) {
    margin-right: 50px;
    margin-bottom: 0;
    &:last-child {
      margin-right: 0;
    }
  }
}
